@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

html,
body {
  background-color: #27496d;
  font-family: "Roboto" !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* MISC */

button {
  margin: 10px;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

a,
a:visited,
a::before {
  color: black;
  text-decoration: none;
}

.oflow {
  overflow: hidden;
}

.p-10 {
  padding: 10% 6%;
}

.p-15 {
  padding: 15% 6%;
}

.p-20 {
  padding: 20% 6%;
}

.p-30 {
  padding: 30% 6%;
}
.p-40 {
  padding: 40% 6%;
}

.light-text {
  color: whitesmoke;
}
.text-center {
  text-align: center;
}
.material-icons {
  color: #27496d;
  font-size: 2.3rem;
}

.mui-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #27496d;
}

/* MISC */
.App {
  padding-top: 10px;
  padding-bottom: 50px;
  min-height: 100vh;
  background-color: #27496d;
}

/* NAVBAR */
.mobile-bottom-nav {
  color: #27496d;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: 50px;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: #fff;
  padding: 35px 0;
}
.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-bottom-nav__item-content {
  display: flex;
  flex-direction: column;
}
/* NAVBAR */

/* FILTER GRID */

.img-filter-label {
  font-weight: 500;
  font-size: 1rem;
}
.img-filter a,
.img-filter a:visited {
  color: black;
  text-decoration: none;
}
.filter-grid img {
  height: 15vw;
}

.filter-grid {
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #eceff1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 20% 10px;
  padding: 6%;
  margin-bottom: 20%;
}

/* FILTER GRID */

.text-center {
  text-align: center;
}

/* PARTY CARD */

.demo-card-wide.mdl-card {
  margin: 5% 0;
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  /* background-repeat: no-repeat;
  background-size: contain; */
  height: 206px;
}

.mdl-card__title img {
  width: 10%;
}

/* PARTY CARD */

/* PROFILE */

.img-container img {
  object-fit: cover;

  border: 1px solid #4444;
  width: 230px;
  height: 230px;
  background-size: contain;
  border-radius: 100%;
  margin-bottom: 20px;
}

/* PROFILE */

/* PARTY */

.img-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
/* PARTY */

.info-label {
  color: #333;
}

.profile-details p {
  font-weight: 700;
}

.mui-btn {
  margin: 0 10px;
  width: 100px;
}

.map {
  padding: 30px 0;
}

.event-info-specific p {
  font-weight: 700;
}

.event-info-specific span {
  font-weight: 300 !important;
}

.no-bg {
  overflow-y: hidden;
  min-height: 90vh !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #27496d;
  box-shadow: none;
}

/* .float {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 0px;
  right: 20px;
  color: #fff !important;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
}

.float .material-icons {
  color: whitesmoke !important;
}

.my-float {
  margin-top: 22px;
} */

.vh-90 {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.pd-100 {
  padding: 100px 10px;
}

.m-bot-20 {
  margin-bottom: 20px;
}
